<div class="home-slider-wrapper">
	<div id="home-slider" class="home-slider">
    <div class="slide">
      <%= image_tag 'pex7.jpg' %>
      <div class="home-slider-overlay home-slider-blue overlay-upper-blue"></div>
      <div class="home-slider-overlay home-slider-blue overlay-lower-blue"></div>
      <div class="home-slider-overlay home-slider-dark overlay-upper-dark"></div>
      <div class="home-slider-overlay home-slider-dark overlay-lower-dark"></div>
      <div class="home-slider-content">
        <h2 class="animated">We <strong>create</strong> what you need</h2>
      </div>
    </div>
    <div class="slide">
      <%= image_tag 'pex1.jpg' %>
      <div class="home-slider-overlay home-slider-blue overlay-upper-blue"></div>
      <div class="home-slider-overlay home-slider-blue overlay-lower-blue"></div>
      <div class="home-slider-overlay home-slider-dark overlay-upper-dark"></div>
      <div class="home-slider-overlay home-slider-dark overlay-lower-dark"></div>
      <div class="home-slider-content">
        <h2 class="animated">Let us <strong>improve</strong> your business</h2>
      </div>
    </div>
    <div class="slide">
      <%= image_tag 'pex9.jpg' %>
      <div class="home-slider-overlay home-slider-blue overlay-upper-blue"></div>
      <div class="home-slider-overlay home-slider-blue overlay-lower-blue"></div>
      <div class="home-slider-overlay home-slider-dark overlay-upper-dark"></div>
      <div class="home-slider-overlay home-slider-dark overlay-lower-dark"></div>
      <div class="home-slider-content">
        <h2 class="animated">Web resources to help you <strong>grow</strong></h2>
      </div>
    </div>
	</div>
</div>

<div class="hello-wrapper">
  <div class="container hello-container">
    <div class="col-lg-12">
      <div class="col-lg-6 col-sm-12 animation2" data-animation="animated fadeInLeft">
        <div class="hello-background-container">
          <div class="col-lg-12 hello-background">
            <h2 style="text-align: right;">Hello. We are Swoop
              <br>Creative &amp; Interactive Studio
              <br>Make creative projects
            </h2>
          </div>
        </div>
        <div class="hello-shadow-container">
          <div class="col-lg-12 hello-shadow"></div>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12 hello-information">
        <div class="col-lg-12">
          <p>Typical ad agency clients include businesses and corporations,non-profit organizations and private agencies. Agencies may be hired to produce television and radio commercials.</p>
          <p>Online advertising, out-of-home advertising, mobile marketing, and AR advertising, as part of an advertising campaign.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="services-wrapper">
  <div class="container" >
    <div class="page-head animation2" data-animation="animated fadeInUp">
      <h6 class="">What we do</h6>
      <h1 class="">What We Do</h1>
    </div>
  </div>
  <div class="container">
    <div class="col-lg-4 animation2" data-animation="animated fadeInUp">
      <div class="service-card-container">
        <%= link_to services_path, class: 'link-service-card' do %>
          <div class="service-card">
            <span><i class="fas fa-pen-nib"></i></span>
            <h4>Creative Design</h4>
          </div>
        <% end %>
        <div class="figure figure-1"></div>
      </div>
    </div>
    <div class="col-lg-4 animation2" data-animation="animated fadeInUp">
      <div class="service-card-container">
        <%= link_to services_path, class: 'link-service-card' do %>
          <div class="service-card">
            <span><i class="fas fa-code"></i></span>
            <h4>Development</h4>
          </div>
        <% end %>
        <div class="figure figure-2"></div>
      </div>
    </div>
    <div class="col-lg-4 animation2" data-animation="animated fadeInUp">
      <div class="service-card-container">
        <%= link_to services_path, class: 'link-service-card' do %>
          <div class="service-card">
            <span><i class="fab fa-gg-circle"></i></span>
            <h4>Branding</h4>
          </div>
        <% end %>
        <div class="figure figure-3"></div>
      </div>  
    </div>
  </div>
</div>

<div class="projects-wrapper">
  <div class="col-lg-6 projects-information-wrapper animation2" data-animation="animated fadeInLeft">
    <div class="projects-information">
      <div class="page-head">
        <h6 class="">What we do</h6>
        <h1 class="">We’re Swoop Agency Creative & Interactive Studio</h1>
        <p>Use of creativity by agencies is “unexpected” because so much advertising today is expected. This will capture attention of audiences, therefore the message is likely to get through.</p>
      </div>
      <div class="graph-wrapper">
        <div class="graph">5</div>
        <span>Projects</span>
      </div>
    </div>
  </div>
  <div class="col-lg-6 animation2" data-animation="animated fadeInRight">
    <div class="projects-image-container">
      <div class="projects-image">
        <%= image_tag 'mac.png' %>
      </div>
      <div class="projects-link-shadow"></div>
      <div class="projects-link">
        <h4>Check Our Projects</h4>
        <%= link_to 'Portfolio', portfolio_path %>
      </div>
    </div>
  </div>
</div>
