<div class="view-head">
  <h2 class="animation" data-animation="animated fadeInRight">Portfolio</h2>
</div>
<div class="portfolio-wrapper">
  <div class="container">
    <div class="page-head-right">
      <div class="head-info">
        <h1 class="animation" data-animation="animated fadeInLeft" >Our Projects</h1>
        <h6 class="animation" data-animation="animated fadeInLeft">Check Our Work</h6>
      </div>
    </div>
  </div>
  <div class="portfolio-gallery-wrapper animation" data-animation="animated fadeInUp">
    <%= link_to project_backyard_path do %>
      <div class="box portfolio-gallery col-lg-3 col-md-6">
        <div class="box-img">
          <%= image_tag 'post-15.jpg' %>
          <div class="portfolio-gallery-overlay">
            <div class="overlay-content">
              <h3>BackyardLinks</h3>
              <h2>Project Description</h2>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="box portfolio-gallery col-lg-3 col-md-6">
      <div class="box-img">
        <%= image_tag 'post-16.jpg' %>
        <div class="portfolio-gallery-overlay">
          <div class="overlay-content">
            <h3>BackyardLinks</h3>
            <h2>Project Description</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="box portfolio-gallery col-lg-3 col-md-6">
      <div class="box-img">
        <%= image_tag 'post-18.jpg' %>
        <div class="portfolio-gallery-overlay">
          <div class="overlay-content">
            <h3>BackyardLinks</h3>
            <h2>Project Description</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="box portfolio-gallery col-lg-3 col-md-6">
      <div class="box-img">
        <%= image_tag 'post-19.jpg' %>
        <div class="portfolio-gallery-overlay">
          <div class="overlay-content">
            <h3>BackyardLinks</h3>
            <h2>Project Description</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="box portfolio-gallery col-lg-3 col-md-6">
      <div class="box-img">
        <%= image_tag 'post-20.jpg' %>
        <div class="portfolio-gallery-overlay">
          <div class="overlay-content">
            <h3>BackyardLinks</h3>
            <h2>Project Description</h2>
          </div>
        </div>
      </div>
    </div>
      <div class="box portfolio-gallery col-lg-3 col-md-6">
      <div class="box-img">
        <%= image_tag 'post-15.jpg' %>
        <div class="portfolio-gallery-overlay">
          <div class="overlay-content">
            <h3>BackyardLinks</h3>
            <h2>Project Description</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="box portfolio-gallery col-lg-3 col-md-6">
      <div class="box-img">
        <%= image_tag 'post-16.jpg' %>
        <div class="portfolio-gallery-overlay">
          <div class="overlay-content">
            <h3>BackyardLinks</h3>
            <h2>Project Description</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="box portfolio-gallery col-lg-3 col-md-6">
      <div class="box-img">
        <%= image_tag 'post-18.jpg' %>
        <div class="portfolio-gallery-overlay">
          <div class="overlay-content">
            <h3>BackyardLinks</h3>
            <h2>Project Description</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="box portfolio-gallery col-lg-3 col-md-6">
      <div class="box-img">
        <%= image_tag 'post-19.jpg' %>
        <div class="portfolio-gallery-overlay">
          <div class="overlay-content">
            <h3>BackyardLinks</h3>
            <h2>Project Description</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="box portfolio-gallery col-lg-3 col-md-6">
      <div class="box-img">
        <%= image_tag 'post-20.jpg' %>
        <div class="portfolio-gallery-overlay">
          <div class="overlay-content">
            <h3>BackyardLinks</h3>
            <h2>Project Description</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="box portfolio-gallery col-lg-3 col-md-6">
      <div class="box-img">
        <%= image_tag 'post-19.jpg' %>
        <div class="portfolio-gallery-overlay">
          <div class="overlay-content">
            <h3>BackyardLinks</h3>
            <h2>Project Description</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="box portfolio-gallery col-lg-3 col-md-6">
      <div class="box-img">
        <%= image_tag 'post-20.jpg' %>
        <div class="portfolio-gallery-overlay">
          <div class="overlay-content">
            <h3>BackyardLinks</h3>
            <h2>Project Description</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dark-wrapper">
    <div class="dark-information-wrapper col-lg-6">
      <div class="dark-information animation2" data-animation="animated fadeInLeft">
        <div class="page-head">
          <h6>WE MAKE IT</h6>
          <h1>Unlimited Creative</h1>
          <p>This was one trait that advertising agencies were perceived to not always have. It was suggested that on occasions that media planner and researchers.</p>
        </div>
      </div>
    </div>
    <div class="dark-window col-lg-6 animation2" data-animation="animated fadeInRight">
      <div class="dark-line">
        <div class="col-lg-6 col-md-6">
          <%= image_tag 'tree.jpg' %>
        </div>
        <div class="dark-content-wrapper col-lg-6 col-md-6 dark-right">
          <div class="dark-content">
            <span><i class="fab fa-fly"></i></span>
            <h3>We Make  Creative Projects</h3>
          </div>
        </div>
      </div>
      <div class="dark-line">
        <div class="dark-content-wrapper col-lg-6 col-md-6">
          <div class="dark-content">
            <span><i class="fas fa-user-astronaut"></i></span>
            <h3>We Make  Creative Projects</h3>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 dark-right">
          <%= image_tag 'bulb.jpg' %>
        </div>
      </div>
    </div>
  </div>
</div>