<div class="view-head">
  <h2 class="animation" data-animation="animated fadeInRight">Project</h2>
</div>
<div class="about-wrapper">
	<div class="container">
    <div class="page-head-right">
      <div class="head-info">
        <h1 class="animation" data-animation="animated fadeInLeft">Backyard</h1>
        <h6 class="animation" data-animation="animated fadeInLeft">Diseño y desarollo de página web</h6>
      </div>
    </div>
  </div>
  <div class="projects-gallery-wrapper">
	  <div id="masonry-container" class="transitions-enabled infinite-scroll clearfix masonry-width projects-gallery">
		  <div class="box project-gallery col-md-6 col-lg-4 animation" data-animation="animated fadeInUp">
		    <div>
		      <%= image_tag 'back1.jpg', class: 'lazy' %>
		    </div>
		  </div>
		  <div class="box project-gallery col-md-6 col-lg-4 animation" data-animation="animated fadeInUp">
		    <div>
		      <%= image_tag 'vert1.jpg', class: 'lazy' %>
		    </div>
		  </div>
		  <div class="box project-gallery col-md-6 col-lg-4 animation" data-animation="animated fadeInUp">
		    <div>
		      <%= image_tag 'back2.jpg', class: 'lazy' %>
		    </div>
		  </div>
		  <div class="box project-gallery col-md-6 col-lg-4 animation" data-animation="animated fadeInUp">
		    <div>
		      <%= image_tag 'vert2.jpg', class: 'lazy' %>
		    </div>
		  </div>
		  <div class="box project-gallery col-md-6 col-lg-4 animation" data-animation="animated fadeInUp">
		    <div>
		      <%= image_tag 'vert1.jpg', class: 'lazy' %>
		    </div>
		  </div>
		  <div class="box project-gallery col-md-6 col-lg-4 animation" data-animation="animated fadeInUp">
		    <div>
		      <%= image_tag 'back1.jpg', class: 'lazy' %>
		    </div>
		  </div>
		</div>
	</div>
</div>